<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <ul>
            Users
            {{
              activeVote
            }}
            <br />
            <li v-for="user in users">
              {{ user.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      users: null,
      activeVote: null,
    };
  },
  mounted() {
    Echo.private("getactivevote").listen("ChangedVoteData", (e) => {
      console.log(798789);
      console.log(e);
    });

    Echo.join("users")
      .here((users) => {
        this.users = users;
        console.log("users");
        console.log(users);
      })
      .joining((user) => {
        this.users.push(user);
      })
      .leaving((user) => {
        this.users.splice(this.users.indexOf(user), 1);
      });
  },
};
</script>
